language: python
python:
    - "2.5"
    - "2.6"
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"
install:
    - "pip install -e ."
    - "pip install pytest"
script: 
    - "pytest PyCIM/Test/*Test.py"
