include LICENSE
include README.rst
include PyCIM/Test/Data/EDF_AIGUE_v9.xml
include PyCIM/Test/Data/EDF_AIGUE_v9_COMBINED.xml
include PyCIM/Test/Data/EDF_AIGUE_v9_ASSET.xml
include PyCIM/Test/Data/EDF_AIGUE_v9_CONN.xml
include PyCIM/Test/Data/EDF_AIGUE_v9_EQUIP.xml
include PyCIM/Test/Data/EDF_AIGUE_v9_GEO.xml
